<form action="/p/v1/mods/upload" method="POST" enctype="multipart/form-data">
    <div class="file-field input-field">
        <div class="btn grey">
            <input type="file" name="file">
        </div>
    </div>

    <button class="btn" type="submit">Submit</button>
</form>